.Header {
	width: 100%;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	padding: 0 2em;
	box-sizing: border-box;
	position: fixed;

	h1 {
		font-size: 1em;
		text-transform: uppercase;
		color: $secondary-color;
	}
	.-nav-left, .-nav-right {
		display: flex;
		align-items: center;
	}

	.-nav-left {
		flex: 1;
		padding: 0 4em;
		.-browse-menu {
			position: absolute;
			top: 100%;
			display: flex;
			background-color: $transparent-black;
			border: 1px solid darken($primary-color-darker, 40%);
			border-top: 2px solid $primary-color;

			&::after {
				bottom: 100%;
				left: 8%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-bottom-color: #fff;
				border-width: 8px;
			}
			ul {
				padding: 1em 0.7em;
				a {
					color: $primary-color;
					text-decoration: none;
					line-height: 1.3em;
					font-size: 0.85em;

					&:hover {
						text-decoration: underline;
					}
				}

				&:first-of-type {
					border-right: 1px solid $primary-color-darker;
					font-weight: bold;
				}
			}
		}

		li:nth-child(1) {
			button {
				color: $secondary-color;
				background: none;
				border: none;
				outline: none;
				padding: 1.3em 0;
				cursor: pointer;
				font-size: 1em;
			}
		}
	}
}