@import './picture.scss';

.PictureList {
		width: 100%;
		margin: 4em 0;
		// overflow: visible;
		h2 {
			margin: 0.5em 1em;
			font-size: 1.2em;
		}
	.list-container {
		height: $picture-height;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 0 2.2em;

		.arrow-btn {
			color: $primary-color;
			position: absolute;
			z-index: 1000;
			height: 100%;
			top: 0;
			background-color: $transparent-black;

			&:first-of-type {
				left: 0;
			}
			&:last-of-type {
				right: 0;
			}

			.icon {
				font-size: 2em;
			}
		}
	}
}