@import '../base/colors.scss';

$picture-width : 300px;
$picture-height : $picture-width / (16/9);

.Picture {
	width: $picture-width;
	height: $picture-height;
	background-color: #555;
	padding: 1em;
}