@import './picture.scss';

.PictureList {
		width: 100%;
		margin: 2.5em 0;
		// overflow: visible;
		.list-title {
			margin: 0.5em 2.2em;
			font-size: 1.2em;
		}
	.list-container {
		height: $picture-height;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 0 2.2em;

		.arrow-btn {
			color: $primary-color;
			position: absolute;
			z-index: 1000;
			height: 100%;
			top: 0;
			background-color: $transparent-black;

			&:first-of-type {
				left: 0;
			}
			&:last-of-type {
				right: 0;
			}

			.icon {
				font-size: 2em;
			}
		}
	}

	.PictureDetails {
		margin-top: 0.3em;
	}

}

.pictureTransition-enter {
	 transform: scale(0.01);
}

.pictureTransition-enter.pictureTransition-enter-active {
  transform: scale(1);
  transition: 500ms ease-in;
}

.pictureTransition-leave {
 transform: scale(1);
}

.pictureTransition-leave.pictureTransition-leave-active {
  transform: scale(0.01);
  transition: 300ms ease-in;
}